.matrix {
}

.cell {
    border: solid black 1px;
    height: 50px;
    width: 50px;
}

.cell > input {
    height: 50px;
    width: 50px;
}

.cell-column {
    float: left;
}

.add-row {

}

.add-column {

}

input { 
    text-align: center; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#row-input, #col-input {
    width: 25px;
}

.errors {
    text-align: center;
    background-color: #ffb3b3;
}